.header {
  width: 100%;
  padding: 1em 2em;
  display: grid;
  align-items: center;
  grid-template-columns: 36px 1fr 36px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  cursor: pointer;
}

.menu:hover div {
  background-color: gray;
}

.menu div {
  width: 24px;
  height: 2px;
  background-color: black;
  transition: 0.3s ease;
}

.blogName {
  justify-self: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.125em;
}

.search {
  height: 24px;
  color: blue;
  cursor: pointer;
}
