.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  padding: 5rem 2rem;
  flex: 1;
}

.title {
  font-size: 4em;
}

.headerImg {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: center;
  margin: 2em 0;
}

.content {
  max-width: 60ch;
  margin: auto;

  font-size: 1.25em;
  line-height: 1.5;
  letter-spacing: 1px;
}
